{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'css/list-style.css' %}">
{% endblock customcss %}
{% block header %}
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'list' %}" style="font-size: 35px; font-family: 'Yusei Magic', sans-serif;">みんなのバイブル</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'list' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              カテゴリ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'movie' %}">映画</a></li>
              <li><a class="dropdown-item" href="{% url 'novel' %}">小説</a></li>
              <li><a class="dropdown-item" href="{% url 'comic' %}">漫画</a></li>
              <li><a class="dropdown-item" href="{% url 'anime' %}">アニメ</a></li>
              <li><a class="dropdown-item" href="{% url 'practical' %}">実用書</a></li>
              <li><a class="dropdown-item" href="{% url 'others' %}">その他</a></li>
            </ul>
          </li>
          {% if form %}
          <div class="search">
            <form method="POST" action="" class="search_container">{% csrf_token %}
            <div class="text" size="25">{{ form.search }}</div>
            <input type="submit" value="&#xf002">
            </form>
            </div>
            {% endif %}
        </ul>
      </div>
    </div>
    <div class = "post">
    <a href="{% url 'create' %}" class="btn btn--orange btn--cubic btn--shadow"><i class="fas fa-pencil-alt"></i> 投稿する (匿名・登録不要)</a>
    </div>
  </nav>
  </header>
  
  <div class ="intro">
    <h8 style="font-size: 20px; font-family: 'Yusei Magic', sans-serif;">小説、映画、漫画から実用書までどんなジャンルでも！<br>感動や自分のバイブルを共有しよう！
    </h8>
    </div>
    <hr>
<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      並び順
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" href="{{ url }}new">新着順</a></li>
      <li><a class="dropdown-item" href="{{ url }}good">いいね順</a></li>
      <li><a class="dropdown-item" href="{{ url }}random">ランダム</a></li>

    </ul>

  </div>

{% endblock header %}
{% block content %}
<script type="text/javascript">
  function keep_scroll_reload() {
            var re = /&page_x=(\d+)&page_y=(\d+)/;
            var page_x = document.documentElement ? document.documentElement.scrollLeft : document.body.scrollLeft;
            var page_y = document.documentElement ? document.documentElement.scrollTop : document.body.scrollTop;
            var position = '&page_x=' + page_x + '&page_y=' + page_y;
            if(!url.match(re)) {
                    //初回
                    location.href = url + position;
            } else {
                    //2回目以降
                    location.href = url.replace(/&page_x=(\d+)&page_y=(\d+)/,position);
            }
  }
  
  // スクロール位置を復元
  function restore_scroll() {
          var re = /&page_x=(\d+)&page_y=(\d+)/;
          if(window.location.href.match(re)) {
                  var position = window.location.href.match(re)
                  window.scrollTo(position[1],position[2]);
          }
  }
  
  (window.onload = function() {
          restore_scroll();
  })();
    </script>

<div class="box">
<div class="listcontainer">
  <script>
    var a = 0
  </script>
{%for item in numbers %}
<div class ="kakomi-box4">
  <a href="{% url 'detail' item.pk %}"></a>
  <div class="qbox">
    <div class="good"><svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
    </svg>{{item.good}}
    </div>
    <span class="box-title">{{item.category}}</span>
    <h2>{{item.title}}</h2>
    <h3>{{item.content}}</h3>
  </div>
  <p>
 {{item.created_date}}
 </p>
</div>
<script type="text/javascript" src="{% static 'js/list-script.js' %}"></script>
{% endfor %}
{% if numbers.has_next %}
<div class="page">
<a class="btn btn--oran btn--radius" href="?page={{ numbers.next_page_number }}">More</a>
</div>
{% endif %}
  <div class="loading" style="display: none;">
Loading...
</div>
</div>
</div>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.kakomi-box4')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock content %}
{% block footer %}
{% endblock footer %}